########################################
# OS
########################################

.DS_Store
Thumbs.db

########################################
# Visual Studio
########################################

.vs/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd

########################################
# Rider
########################################

.idea/
*.DotSettings.user

########################################
# Unity generated
########################################

Library/
Temp/
Obj/
Logs/
MemoryCaptures/
Builds/

########################################
# Unity cache
########################################

UnityProject/Library/
UnityProject/Temp/
UnityProject/Obj/
UnityProject/Logs/
UnityProject/MemoryCaptures/
UnityProject/UserSettings/

########################################
# Addressables
########################################

ServerData/

########################################
# Crash reports
########################################

sysinfo.txt

########################################
# Build cache
########################################

*.apk
*.aab
*.ipa

########################################
# WebGL builds
########################################

!WebBuild/

########################################
# Python
########################################

__pycache__/
*.pyc

########################################
# macOS
########################################

.AppleDouble
.LSOverride
